header.header
  .wrapper
    .container-fluid
      .header__wrap.d-flex.align-content-center.justify-content-between.flex-wrap
        .header__menu
          .burger
            span

        .header__logo
          a(href="")
            img.logo(src="assets/images/general/logo.svg", alt="")
        .header__lang
          ul.lang__selector
            li
              a(href="#") Ru
            li
              a(href="#") En
