
@font-face {
  font-family: 'HeliosCondLight';
  src: url('HeliosCondLight.eot?#iefix') format('embedded-opentype'),  url('HeliosCondLight.woff') format('woff'), url('HeliosCondLight.ttf')  format('truetype'), url('HeliosCondLight.svg#HeliosCondLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
