extends template/main

block variables
  - var title = 'Главная страница'
  - var pageClass = 'index-page'

block content

  #index-content
    section.works.works-home
      .wrapper
        .container-fluid
          .row
            .section-title
              h1 
                span WE
                span.color2 CREATE
                span.color3 PACKAGING
          .row
            .col-md-6.col-lg-6.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/1.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/2.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/3.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-6.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/4.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-6.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/5.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/6.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/7.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-6.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/8.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-6.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/9.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/10.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
            .col-md-6.col-lg-3.works-item.works-item--small
              a.works-link.works-link--small(href='#', style='height: 584px;')
                .works-preview(style='background-image: url(assets/images/general/11.png)')
                //.works-overlay(style='background-color: #438dcc;')
                .works-info
                  .works-title Название работы/главный заголовок
                  .works-introtext Краткое описание клиента или объем проведенной работы Краткое описание клиента или объем проведенной работы
          .bottom__nav.d-flex.justify-content-center
            button Дальше
            button Все работы

          .tags__cloud.d-flex.justify-content-center
            a.tag #Косметика
            a.tag #Бытовая химия
            a.tag #Логотип
            a.tag #Продукты питания
            a.tag #Вермут
            a.tag #Виски
            a.tag #Ритейл
            a.tag #Детские товары
            a.tag #Алкоголь
            a.tag #Картонная упаковка
            a.tag #Знаки и фирменные стили
            a.tag #Этикетка
            a.tag #Кофе
            a.tag #Кондитерская продукция
            a.tag #ЭКО продукты
            a.tag #HoReCa
            a.tag #Молочная продукция
            a.tag #Мясная продукция
            a.tag #Духи
            a.tag #Бальзам


      
  //include ./modules/small-block/find_cost