#breadcrumb
  .container
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(class='breadcrumb-item--link' href='#') Главная
        li.breadcrumb-item.active(aria-current='page') Новости